@using Microsoft.AspNetCore.Authentication


@{
    ViewData["Title"] = "إقرأ نيوز";
}

<partial name="Sliders/HeadingNewsSection" />

<div class="text-center">
    @{
        var country = "";
        var countries = (List<MaxMind.GeoIP2.Responses.CountryResponse>)Context.Items["CountryResponse"];
        if (countries !=null && countries.Count > 0)
        {
            country = countries.First()?.Country.Name;
        }
     }
    <h4>@country</h4>

    <h2>Claims</h2>

    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <h2>Properties</h2>

    <dl>
        @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    </dl>

</div>
